<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @challenge.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @challenge.recipient_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @challenge.post_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @challenge.state %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @challenge.notes %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
