<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Osoanyi</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <div id="user_nav">
    <% if current_user %>
      Signed in as <strong><%= current_user.first_name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <script type="text/javascript">
    $( document ).ajaxComplete(function() {
      new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.2
      } );
    });
  </script>
</body>
</html>
